@page
@model Story.Pages.tempmodel.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Create</h1>

<h4>Story</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Story.Stype" class="control-label"></label>
                <select asp-for="Story.Stype" class ="form-control" asp-items="ViewBag.Stype"></select>
            </div>
            <div class="form-group">
                <label asp-for="Story.IdentityUser" class="control-label"></label>
                <select asp-for="Story.IdentityUser" class ="form-control" asp-items="ViewBag.IdentityUser"></select>
            </div>
            <div class="form-group">
                <label asp-for="Story.Header" class="control-label"></label>
                <input asp-for="Story.Header" class="form-control" />
                <span asp-validation-for="Story.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story.Body" class="control-label"></label>
                <input asp-for="Story.Body" class="form-control" />
                <span asp-validation-for="Story.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Story.PhotoHeader" class="control-label"></label>
                <input asp-for="Story.PhotoHeader" class="form-control" />
                <span asp-validation-for="Story.PhotoHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
