@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="input-group rounded">
        <input asp-for="searchString" type="search" class="form-control rounded" placeholder="Поиск по адресу" aria-label="Search" aria-describedby="search-addon" />
        <button class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

@if (Model.Storys.Any())
{
    <div class="card-deck">

        @foreach (var story in Model.Storys)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">@story.Header</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2 class="text-center">А...ых историй не найдено, попробуйте изменить параметры поиска</h2>
}